# Vercel
.vercel/
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

# 에디터 / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# 빌드 산출물 / 임시
dist/
build/
*.log
*.tmp
